.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 75px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid rgb(255, 206, 47);
}


.box {
    border: 1px solid aqua;
    background: #f8faf8;
}


#


.header {
    grid-area:hd;
    background-color: rgb(160, 221, 213);
}
.footer {
    grid-area: ft;
}

.sidebar {
    grid-area:sd;
}

.content {
    grid-area:main;
}

